
<footer class = "footer-container">
  <div class = "footer-content">
    <div class="footer-logo">
      <%= image_tag("logoblanc.png", :alt => "logo", :class => "logo")%>
    </div>
    <div class = "footer-icons">
    <p>Retrouvez-nous :</p>
    <a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.facebook.com/profile.php?id=100085963144046" target="_blank"><i class="fa-brands fa-facebook-messenger"></i></a>
    <a href="https://www.instagram.com/expeplus.stage/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://twitter.com/ExpePlus" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class = "footer-names">
     <p>FAQS</p>
     <p>TERMES ET CONDITIONS</p>
     <p>SPONSORS</p>
     <p>INFO PAIEMENT</p>
     <p>CONTACT</p>
    </div>
  </div>

</footer>


