<div class= "navbar">
  <%= image_tag("logoblanc.png", :alt => "logo", :class => "logo")%>
  <nav class="navbar-content">
    <ul class="nav_links">
      <li><a href="#" class="blog">Blog</a></li>
      <%# <li><a href="#" class="company">Blog</a></li>
      <li><a href="#" class="student">Blog</a></li> %>
      <li>
        <a href="#" style="--bs-link-hover-color: #4FEC97;">Se connecter <i class="fa-sharp fa-solid fa-caret-down"></i></a>
        <ul class="dropdown">
          <li><a href="https://ftb.tzportal.io/fr/login" target="_blank">Etudiant</a></li>
          <li><a href="https://app-v4.tool4staffing.com/fr/login" target="_blank">Entreprise</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
