<div class="navbar">
  <%= image_tag("logoblanc.png", :alt => "logo", :class => "logo")%>
  <nav class="navbar-content">
    <ul class="nav_links">
      <li><a href="#" class="blog">Blog</a></li>
      <li><a href="#" class="company">Blog</a></li>
      <li><a href="#" class="student">Blog</a></li>
    </ul>
  </nav>
</div>
